$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

/* Put your css in here */
.cartoWrapper {
  position: relative;
}

.cartoWrapper .loader,
.mapWrapper {
  position: relative;
  z-index: 1;

  border-left: 34px solid white;

  width: auto;
  height:400px;
}
.cartoWrapper .loader {
  position: absolute;top:0;left:0;right:0;bottom:0;
  z-index: 3;
  text-align: center;
  line-height: 370px;
  font-size: 36px;
  background: #EEE;
}

.tools {
  position: absolute;
  z-index: 2;
  top:0;right:0;
  padding:10px;
  background: #fff;
}

/**
 * ASIDE
 */
//@import 'compass/css3';
$blue: blue;

/**
 * left aside content style
 */

.aside {
  position: absolute;
  top:0;left:0;bottom:0;
  z-index: 3;
  background: #EEE;


  .level1 {
    margin: 0;
    padding: 0;
    list-style: none;

    & > li {}

    & > li > a {
      display: block;
      padding: 10px;

      color: #BBB;
      font-size: 32px;
      width: 32px;
      height: 32px;
      border:1px solid red;
      text-align: center;

      //@include transition(color 200ms);

      &:hover {
        text-decoration: none;
        color: $blue;
      }

      &.active,
      &.active:hover {
        color: #000;
      }
    }
  }


  .level2 {
    position: absolute;top:0;left:100%;bottom:0;
    display: none;
    background: #FFF;

    //$ml: -400px;
    //margin-left: $ml;
    margin-left: 0;
    width: 320px;
    //@include transition(margin 200ms);

    &.selectedYard,
    &.active {
      display: block;
    }

    //&.inactive {margin-left: $ml;}
    &.inactive {display: none;}

    .close {
      position: absolute;
      top:0;left:100%;bottom:0;
      overflow: hidden;

      padding: 0;
      border-left:1px dotted #EEE;
      width: 20px;

      color: #EEE;
      background: #DDD;
      opacity: 1;

      //@include transition(color 200ms, background 200ms);

      &:hover {
        background: #c3c3c3;
        color: #FFF;
      }

      & > span {
        position: absolute;
        top:50%;
        margin: -10px 0 0;
        border:0;
        font-size: 20px;
      }
    }
  }

  .content {
    overflow: auto;
    max-height:100%;
    width: auto;

    .ctWrapper {
      padding: 10px;
    }
  }
}

/**
 * layerWrapper
 */
.layerWrapper {
  display: block;
  padding: 5px;
  margin: 5px 0;
  border-color: #aaa;
  border-style: solid;
  border-width: 1px 20px 1px 1px;
  background: #fff;
}